{% extends "base.html" %} {% block title %} About Digital Product Management
{%endblock%} {% block body %}
<h2>About Amanda Williams</h2>
<p>
    My name is Amanda Williams and I am a senior at the University of Iowa studying business analytics, finance, and exercise science. I love doing anything outside and grew up playing soccer!
</p>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita cupiditate
  deserunt obcaecati corporis quisquam perspiciatis consectetur earum modi eum,
  ducimus deleniti nostrum totam repellendus quasi delectus corrupti nobis?
  Quis, temporibus?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita cupiditate
  deserunt obcaecati corporis quisquam perspiciatis consectetur earum modi eum,
  ducimus deleniti nostrum totam repellendus quasi delectus corrupti nobis?
  Quis, temporibus?
</p>


{% endblock %}